<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body style="background:rgb(191, 245, 255);">
        <h1 style = "text-align: center;"><%= title %> About Page</h1>
        <center><img src="img/siteLogo.png" alt="Logo" width="225" height="225"></center>

        <%- include('templates/header') %>
        <p style ="text-align: center;">Thanks for the interest on knowing more about me!<br>
        My name is Pake Jackson. 
        I am 25 years old as of the site's creation, and I'm studying 
        to become a game programmer<br>
        </p>

    </body>
    <%- include('templates/footer') %>
</html>