<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body style="background:rgb(191, 245, 255);">
        <h1 style = "text-align: center;"><%= title %> Home Page</h1>
        <center><img src="img/siteLogo.png" alt="Logo" width="225" height="225"></center>

        <%- include('templates/header') %>

        <p style="text-align:center">Hey there! Thanks for checking out my website!<br> I'm looking forward to
          advancing it as I improve my skills in web development. <br>Click one of the 5 links above to 
          check out my other pages!
        </p>

    </body>
    <%- include('templates/footer') %>
</html>