<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body style="background:rgb(191, 245, 255);">
        <h1 style = "text-align: center;"><%= title %> Projects Page</h1>
        <center><img src="img/siteLogo.png" alt="Logo" width="225" height="225"></center>

        <%- include('templates/header') %>

    </body>
    <%- include('templates/footer') %>
</html>